{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{ block.super}}

<br>
<br>
<div class="container">
  {% for image in images %}
  <div class="card-columns">
  
    <div class="card border-secondary">
      <img class="card-img-top" class="img-fluid" src="{{image.gallery_image.url}}"  data-target="#extraModal{{image.id}}" data-toggle="modal" size="100px200" >
    </div>
  
  </div>
  {% endfor %}
</div>

<!-- Large modal -->
{% for image in images %}

<!-- Modal -->
<div class="modal fade" id="extraModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Title: {{image.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </div>

      <div class="modal-body">
        <img class="card-img-top" class="img-fluid" src="{{image.gallery_image.url}}" size="100px200">
        <p>About: {{image.description}}</p>
        <p>Location: {{image.location}}</p>

        {% for category in image.categories.all %}
        <p> Category: {{ category.name }} </p>

        <!-- The text field -->
        <input type="text" value="" id="myInput">

        <!-- The button used to copy the text -->
        <button onclick="myFunction()">Copy text</button>
        {% endfor %}

       
      </div>
      
    </div>
  </div>
</div>
<script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}




</script>
 


{%endfor%}
{% endblock %}
